---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Card from "../components/Card.astro";



const projects = [

 {
  year:"2025",
    header: "Stoisk Ro",
    text: "My final exam project at KEA was the development of Stoisk Ro, a new website for a psychotherapist specializing in stoicism.\n\nWe had almost complete freedom and chose to collaborate with the spouse of one of my group members, who is a therapist.\n\nThis gave us the opportunity to create something from scratch, based on thorough research of both the business and the target audience through user tests, surveys, an in-depth interview, SWOT analysis, Business Model Canvas, and several UX methods.\n\nWe prioritized project management highly. Using the Double Diamond model and a Gantt chart, we were able to plan effectively and avoid the typical time pressure at the end of the project.\n\nThis made the process focused, structured, and smooth.\n\nThe result is a project we are very proud of, because it is technically well-executed and because the process worked so well.\n\nOur examiner was so impressed with our project that she shared us on her LinkedIn.\n\nWe all received top grades.",
    bgImg: "/img/stoiskro.webp",
    url: "https://stoiskro.netlify.app/",
  },
  {
    year:"2024",
    header: "Book in a Box",
    text: "On my third semester, for the exam, we were tasked with creating an unsolicited redesign of a subscription-based company of our choice. We wanted to work with a smaller and somewhat overlooked company, and after some research, we came across Book in a Box.\n\nThe concept is a subscription for fantasy books, where subscribers receive a box every other month containing a selected book and various bookish goodies. The owner personally chooses the book, and the community around the releases mainly thrives on the company’s Instagram, where readers share thoughts and reading experiences, much like a modern book club.\n\nOur goal with the redesign was to make the fantasy universe more vivid and visually present on the website, while also improving the user experience and creating more visual cohesion through the use of components and colors. We experimented until we found a style that feels both magical and inviting, truly supporting the company’s identity.\n\nThis is one of the projects I am very satisfied with. We put a lot of work into it, both together in the design phase and separately during development. I was responsible for coding the homepage and navigation, as well as creating the hand-drawn illustrations that help emphasize the imaginative expression. It was a strong collaboration, and I took a lot of valuable learning with me from it.",
    bgImg: "/img/bookinabox.webp",
    url: "https://bookinabox.netlify.app/",
  },
 
  {
    year:"2024",
    header: "Höjskolendk",
    text: "Höjskolendk is a travel folk high school (“højskole”), and in this project, we worked on redesigning their website with a focus on improving the user experience and strengthening the visual identity.\n\nThe goal was not only to modernize the design but also to develop and implement a well-structured design system.\n\nA key part of the assignment involved transferring the design system from Figma to code, which enhanced collaboration between design and development and created a more streamlined workflow.",
    bgImg: "/img/hojskolendk.webp",
    url: "https://hojskolendk.netlify.app/",
  },
 

  {
    year:"2024",
    header: "#singleusesucks",
    text: "Plastic Change is an organization dedicated to reducing single-use plastics and raising awareness about the environmental and wildlife consequences of plastic pollution. In the #singleusesucks campaign, our task was to develop a scrollytelling solution that communicated the message in an engaging way.\n\nWe focused on animation as a central tool and used libraries such as Motion One, Animista, and Animate.css to create an interactive and visually captivating experience that supported the campaign’s purpose.",
    bgImg: "/img/singleuse-sc.webp",
    url: "https://singleusesucksbackup.netlify.app/?fbclid=IwZXh0bgNhZW0CMTEAAR1mArOMrp3fPsJjYvVAQX3-n4zHUKU2bpj17u8VNmOlVIKFfIC_Bf1kGZ8_aem__8NBiaM20B69M-arsDehBQ",
  },
 


  {
    year:"2024",
    header: "Digital Cleanup Day",
    text: "Digital Cleanup Day is a global event that focuses on cleaning up our digital lives to reduce the energy consumption and resource footprint caused by the internet. In this case assignment, we were tasked with redesigning Digital Cleanup Day’s website and adapting it to a Danish context.\n\nThe goal was to gain practical experience with infographics and data visualization as communication tools, while making the message more accessible and visually engaging.",
    bgImg: "/img/digitalskrald-sc.webp",
    url: "https://digitalskrald.netlify.app/",
  },
 

  {
    year:"2024",
    header: "DFerments.dk",
    text: "DFerments is a small local company in Copenhagen. Damon, the founder, specializes in kombucha. This project was our exam assignment for the second semester, a collaboration our group is particularly proud of.\n\nThe task was to find a company and help them utilize their digital platforms more effectively.\n\nWe developed social media content in the form of images, videos, and stories, and we designed and coded a completely new website for Damon with a focus on strengthening both his brand and online presence.",
    bgImg: "/img/dferments-sc.webp",
    url: "https://dferments.netlify.app/",
  },
 

  {
    year:"2024",
    header: "I tråd med verden",
    text: "ITMV (I Tråd Med Verden) is a Danish clothing store focused on sustainability through the recycling of discarded textiles.\n\nThe company actively contributes to the green transition while also creating jobs for socially marginalized women.\n\nIn this case, we worked on the design and development of a web feature for a small business. We especially experimented with graphic elements that created a clear visual thread throughout the project and also included audio playback functionality to make the experience more engaging.",
    bgImg: "/img/itmv-sc.webp",
    url: "https://itmvgruppe9.netlify.app/",
  },
 


  {
    year:"2024",
    header: "Karrusel.dk",
    text: "Karrusel Festival is a Danish music festival that emphasizes an intimate atmosphere, featuring both established and upcoming artists on the lineup.\n\nOur task was to develop and code a redesign of the festival’s website. The goal was to gain a deeper understanding of design systems and to create and implement components and variables, both in Figma and in VSCode.",
    bgImg: "/img/karrusel-sc.webp",
    url: "https://karrusel-team9.netlify.app/",
  },
 

  {
    year:"2024",
    header: "Vildmad.dk",
    text: "Vildmad.dk is a Danish organization that works to promote the use of wild, edible plants in cooking.\n\nIn our project, we were tasked with developing a subpage aimed at 7th graders in primary school. Although we had high ambitions for the site, we didn’t fully complete all parts of the project. It was also one of the first larger cases we worked on during the second semester.\n\nThe main focus was to build a data base and dynamically fetch data from it. We used Astro for the first time, worked with Astro props, and delved into more advanced JavaScript. Although the visual design can still be improved, this task provided me with a lot of learning and experience.",
    bgImg: "/img/vildmad.webp",
    url: "https://vildmaddk.netlify.app/",
  },
 

  {
    year:"2023",
    header: "Pleasant.dk",
    text: "Pleasant.dk is a clothing store/brand focused on sustainable fashion with timeless designs.\n\nPleasant was our first case project in the first semester, where we had to reach out to a company ourselves and create a redesign of their website. Besides the redesign, we also produced a presentation video and a short video for SoMe.\n\nAlthough our final site had flaws and technical issues, it was the first full website we built, so I learned a great deal throughout the process. Up until then, we had only worked on smaller exercises. I also gained my first experience with Premiere Pro and learned how to research, produce, and edit content for digital platforms. This project gave me a solid foundation for the rest of my studies.",
    bgImg: "/img/pleasant.webp",
    url: "https://pleasant04.netlify.app/",
  },
 

 
 
  
  // Tilføj flere projekter her
];


---

<MainLayout title="Projekter">

<div id="hero" class="h-full py-spacebar-mm lg:py-spacebar-dm grid grid-cols-grid-mobil lg:grid-cols-grid-mobil gap-gap-mobil lg:gap-gap-desktop items-center mx-margin-mobil lg:mx-margin-desktop">
<h1 class="text-obsidian-500 projekter-h1 text-h1-m lg:text-h1-d font-heading col-start-1 col-span-full ">Projects</h1>

<p class="hero-p col-start-1 col-span-5 text-obsidian-500 font-body text-p-m  lg:text-p-d "></p>
</div>

<div class="flex flex-col items-start justify-start mx-margin-mobil lg:mx-margin-desktop">

<div id="projekter-cards" class="flex flex-wrap gap-spacebar-ms lg:gap-spacebar-ds items-start  justify-start ">
  {projects.map((project) => (
    <a href={project.url} target="_blank" class="card-link ">
     <Card 
  header={project.header} 
  text={project.text} 
  bgImg={project.bgImg} 
  url={project.url} 
  year={project.year}
/>

    </a>
  ))}
    
    
  </div>

</div>
  



</MainLayout>

<script>
      import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
  
 import { TextPlugin } from "gsap/TextPlugin";
 gsap.registerPlugin(TextPlugin)
 
 gsap.registerPlugin(ScrollTrigger);



gsap.to(".hero-p", {
  duration: 2,
  text: "Here is a selection of projects I have worked on during my education.",
  ease: "power1.in",
  scrollTrigger: {
    trigger: ".hero-p", // The element to watch for in view
    start: "top 50%",  // When the top of the element hits 80% of the viewport
    toggleActions: "play none none none", // Play the animation on scroll
  },
});

gsap.from("#hero-h1, #projekter-cards", {
  scrollTrigger: {
    trigger: "#hero",
    start: "top 60%", 
    scrub: false, // Animation will not be tied to scroll progress
     
  },
  opacity: 0,
  x: 70,
  
  duration: 2,
  ease: "power2.out",
  stagger: 0.4, // Stagger the animation of each element by 0.1 seconds
 
  
});
</script>